.custom-slider .range-slider__track {
  background-color: oklch(45% 0.18 260.67) !important;
}

/* override filled (progress) hissənin rəngi */
.custom-slider .range-slider__fill {
  background-color: oklch(45% 0.18 260.67) !important;
}

/* override thumb rəngi */
.custom-slider .range-slider__thumb {
  background-color: oklch(45% 0.18 260.67) !important;
  border-color: oklch(45% 0.18 260.67) !important;
}

.custom-slider .range-slider__range {
  background-color: oklch(45% 0.18 260.67) !important;
  border-color: oklch(45% 0.18 260.67) !important;
}
