.custom-slider .range-slider__track {
  background-color: oklch(59.6% 0.145 163.225) !important;
}

/* override filled (progress) hissənin rəngi */
.custom-slider .range-slider__fill {
  background-color: oklch(59.6% 0.145 163.225) !important;
}

/* override thumb rəngi */
.custom-slider .range-slider__thumb {
  background-color: oklch(59.6% 0.145 163.225) !important;
  border-color: oklch(59.6% 0.145 163.225) !important;
}

.custom-slider .range-slider__range {
  background-color: oklch(59.6% 0.145 163.225) !important;
  border-color: oklch(59.6% 0.145 163.225) !important;
}
