.visit-button-container {
  position: fixed;
  bottom: 40px;
  left: -140px;
  transform: translateY(-50%);
  z-index: 9999;
  transition: left 0.3s ease;
}

.visit-button-container:hover {
  left: 0;
}

.visit-button-link {
  display: flex;
  align-items: center;
  background-color: #013995;
  color: white;
  padding: 12px 20px 12px 40px;
  border-radius: 0 24px 24px 0;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.visit-button-link:hover {
  background-color: #0250c3;
}

.visit-close-btn {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 9999px;
  color: #ef4444;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
  border: none;
}

.visit-button-container:hover .visit-close-btn {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .visit-button-container {
     left: 0;
  }
  .visit-close-btn {
     opacity: 1;
  }
}
